

.custom-modal-dialogheight {
    max-width: 400px !important;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .modal.fade .modal-dialog {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  .modal.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
  }